POSTGRES_DB=jicin_parcels
POSTGRES_USER=jicin
POSTGRES_PASSWORD=jicin
DATABASE_URL=pgsql:host=postgres;port=5432;dbname=jicin_parcels
VITE_API_URL=http://localhost:8080
NGINX_CACHE_MAX_SIZE=256m
NGINX_CACHE_INACTIVE=15m

